body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.cardImage {
  height: 12vw;
  object-fit: contain;
}

.navbrand {
  font-size: 20px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.navLink {
  text-decoration: none;
}

.card {
  overflow: hidden;
  transition: all 0.3s ease;
}

.image {
  overflow: hidden;
  transition: all 0.3s ease;
}

.card:hover {
  transform: scale(1.1);
}

.image:hover {
  transform: scale(1.1);
}
